.header ul {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 50px;
}
.header li a {
  display: inline-block;
  width: 133.33px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #aaa;
  border-bottom: 2px solid #eee;
  transition: all 0.2s ease-in-out;
}
.header hr {
  margin-top: -2px;
  width: 33.3%;
  height: 2px;
  border: none;
  background-color: darkcyan;
  transition: all 0.2s ease-in-out;
}
.header a:focus {
  color: #777;
}
.header .secend_active ~ hr {
  margin-left: 33.3%;
}
.header .third_active ~ hr {
  margin-left: 66.3%;
}